
 <h1>Welcome to Bookmymovie.com, <%= @u.email %></h1>
    <p>
    Your slot has been booked 
      your username is: <%= @u.email %>.<br>
    </p>
  
    <p>Thanks for joining and have a great day!</p>
  </body>